<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>About</title>
</head>
<body>
	<h1>{{pageTitle}}</h1>
	<p>This is a help page of this project</p>

	<footer>
		<p>Copyright {{year}}</p>
	</footer>
</body>
</html>